<div class="row">
    <div class="col-lg-7 d-flex justify-content-center">
        <img src="assets/img/minecraft-zoo-preview.png" alt="minecraft-zoo-preview" class="mt-3 mb-7">
    </div>
    <div class="col-lg-5 container pr-5">
        <h2 class="mt-12 event-title">Minecraft Zoo Event<br>ft. Toronto Zoo</h2>
        <p class="h4 my-4">April 11 - April 17</p>
        <p class="lead mb-3 font-weight-normal">
            Money raised: $840<br>
            Registered participants: 120<br>
            Workshops: 4
        </p>

        <div class="pr-5 mr-5">
            <p class="mr-5 pr-5">
                The Minecraft Zoo Event marks the kickoff of PassionFruit Youth. We hosted a variety informative and fun workshops
                in collaboration with guest speakers from the Toronto Zoo Wildlife Conservancy. This event was centered around a
                Minecraft build competition where participants put together beautiful Minecraft builds of animals alongside a habitat 
                for the animals. 
            </p>
        </div>
    </div>
</div>
