<div class="container-fluid">
    <div class="row">
        <div class="col-xl-7 justify-content-center d-flex py-8">
            <img src="assets/img/events-home.png" alt="events-home">
        </div>
        <div class="col-xl-3 py-15">
            <div class="container">
                <h2 class="events-title">
                    <span class="title-highlight">Educational</span>,<br>
                    <span class="title-highlight">Exciting</span>, and<br>
                    <span class="title-highlight">Fun</span> Events
                </h2>
            </div>
            <div class="container mt-15">
                <a href="#minecraft-event" class="button-jasmine px-5 py-3">View events</a>
            </div>
        </div>
    </div>
</div>