<div class="row">
    <div class="col-xl-7 justify-content-center d-flex py-8 mt-3 mb-5">
        <img src="assets/img/events-home.png" alt="events-home">
    </div>
    <div class="col-xl-3 py-15 mt-3">
        <div class="container">
            <h2 class="events-home-title">
                <span class="title-highlight">Educational</span>,<br>
                <span class="title-highlight">Exciting</span>, and<br>
                <span class="title-highlight">Fun</span> Events
            </h2>
        </div>
        <div class="container mt-15">
            <a href="/events#minecraft-zoo-event" class="button-jasmine px-5 py-3">View events</a>
        </div>
    </div>
</div>

<div class="row my-7" id="minecraft-zoo-event">
    <div class="col-lg-4 container">
        <div class="py-5"></div>
        <h2 class="event-title ml-13 mb-4 mt-20">
            Minecraft Zoo Event ft. Toronto Zoo
        </h2>
        <p class="h4 ml-13 mb-15">
            April 11 - April 19, 2021
        </p>
        
        <a routerLink="minecraft-zoo" class="button-light-salmon px-5 py-3 ml-13">View more</a>
    </div>

    <div class="col-lg-8 d-flex justify-content-center background-ligh-salmon">
        <img src="assets/img/minecraft-zoo.png" alt="minecraft-zoo" class="my-9 img-fluid event-img">
    </div>
</div>

