.button-orange {
  border: none;
  color: var(--white);
  background-color: var(--light-salmon);
  border-radius: 7px;
  font-size: 20px;
  box-shadow: inset 0 0 0 0 var(--jasmine);
  transition: ease-out 0.3s;
  outline: none;
}

a:hover.button-orange {
  box-shadow: inset 300px 0 0 0 var(--jasmine);
  text-decoration: none;
  cursor: pointer;
} 