<div class="container-fluid section3 py-10">
    <div class="row">
      <div class="container d-flex col-md-6 justify-content-center">
        <img src="assets/img/hiker.png" class="img-fluid">
      </div>
      <div class="container col-md-6">
        <div class="mt-14">
          <h4 class="subtitle-pill px-5 py-2">Chase your dreams</h4>
        </div>
        <div class="mt-7">
          <h2 class="title-motivation">
            Make your<br>
            dreams a reality
          </h2>
        </div>
        <div class="mt-5">
            <p class="lead text-motivation">
              The infinity between zero and one is the<br>
              same infinity between one and infinity. It's<br>
              the same distance--so what makes the<br>
              second one so intimidating? If you can get<br>
              up from your couch to grab the remote, you<br>
              can get up from your couch to change the<br>
              world. <span class="text-motivation-highlight">That’s what we’re here for.</span>
            </p>
        </div>
      </div>
    </div>
</div>
