.motivation-page {
  background-color: var(--light-salmon);
}

.subtitle-pill {
  display: inline;
  color: var(--white);
  border: 2px solid #ffffff;
  border-radius: 40px;
}

.title-motivation {
  color: var(--white);
  font-size: 4em;
}

.text-motivation {
  color: #ECECEC;
}

.text-motivation-highlight {
  color: var(--white);
  font-style: italic;
}
