<div class="container-fluid section1 py-10">
  <div class="row">
    <div class="container col-md-2">
      <div class="container-fluid d-flex justify-content-end">
        <img src="assets/img/quotation.png" class="mt-7 img-fluid">
      </div>
    </div>
    <div class="container col-md-3">
      <div class="container-fluid mt-12">
        <h2 class="quote1">
          Be Persistent,<br>
          Be Prolific,<br>
          Be <span class="text-orange">Passionate.</span>
        </h2>
      </div>
      <div class="container-fluid mt-13">
        <learn-more></learn-more>
      </div>
    </div>
    <div class="container col-md-7">
      <div class="container-fluid mt-3">
        <img src="assets/img/potter-child.png" class="img-fluid">
      </div>
    </div>
  </div>
</div>
