<div class="container-fluid section2 py-5">
  <div class="row">
    <div class="container col-md-3">
      <div class="container-fluid d-flex justify-content-end mt-10">
        <quote2></quote2>
      </div>
      <div class="container-fluid d-flex justify-content-end my-2">
        <artist></artist>
      </div>
    </div>

    <div class="container col-md-4">
      <div class="container-fluid d-flex justify-content-center mt-20">
        <community-description></community-description>
      </div>
      <div class="container-fluid d-flex justify-content-center mt-13">
        <opportunities-button class="mx-3"></opportunities-button>
        <events-button class="mx-3"></events-button>
      </div>
    </div>

    <div class="container col-md-4 d-flex justify-content-left">
      <photographer></photographer>
    </div>
  </div>
</div>