<p class="lead community-description">
  At PassionFruit Youth, we aim to foster a<br>
  community that not only supports one-another’s<br>
  ambitions, but also collectively builds on each<br>
  other’s successes, breaking boundaries and<br>
  reaching new heights.<br><br>
  
  Through various high-impact community events,<br>
  volunteer/career insight oppurtunities, self-growth<br>
  workshops, and more, PFY has its sights on being<br>
  the premier hub for cultivating and prospering<br>
  dreams for youth.
</p>
