<div class="container-fluid">
    <div class="px-3">
      <div class="row mt-2">
  
        <div *ngFor="let selectionCard of selectionCards" class="col-lg-6 col-xl-4">
          <div class="selection-card mt-4 mx-4 mb-6" style="background-image: url('assets/img/{{ selectionCard.imgName }}');">
            <a href="{{ selectionCard.href }}" class="no-decor">
              <div class="text-center py-14"><span class="selection-text p-3">{{ selectionCard.text }}</span></div>
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
<div *ngFor="let section of sections" class="container-fluid py-17" style="background-image: url('assets/img/{{ section.imgName }}');" id="{{ section.id }}">
  <div class="text-center py-20 ">
      <h2 class="section-title">{{ section.name }}</h2>
  </div>
</div>
<card-organizer></card-organizer>