<div class="row">
    <div class="col-md-6" *ngFor="let card of cards">
        <div class="card">
            <img src="assets/img/Appleworker.jpg" class="card-img-top img-fluid"/>
            <div class="card-block">
                <h3 class="card-title">{{card.Job}}</h3>
                <p>{{card.Disc}}</p>
                <div style="float:right; padding-right:10px">
                    <a href="https://www.google.com/maps/place/Bayview+Secondary+School/@43.8779707,-79.4173768,17z/data=!3m2!4b1!5s0x882b2afac9f1ff7d:0x9bc849bad728cacc!4m5!3m4!1s0x882b2afab8c0c78d:0x4e66de5dc59407d3!8m2!3d43.8779669!4d-79.4151828" class="button-light-salmon new-tab px-2 py-1">28, oakhill Cres.</a>
                </div>
            </div>
        </div>
    </div>
</div>