/* You can add global styles to this file, and also import other style files */
.py-6 {
    padding-top: 6vh;
    padding-bottom: 6vh;
}
.py-7 {
    padding-top: 7vh;
    padding-bottom: 7vh;
}
.py-8 {
    padding-top: 8vh;
    padding-bottom: 8vh;
}
.py-9 {
    padding-top: 9vh;
    padding-bottom: 9vh;
}
.py-10 {
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.py-11 {
    padding-top: 11vh;
    padding-bottom: 11vh;
}
.py-12 {
    padding-top: 12vh;
    padding-bottom: 12vh;
}
.py-13 {
    padding-top: 13vh;
    padding-bottom: 13vh;
}

.my-6 {
    margin-top: 6vh;
    margin-bottom: 6vh;
}
.my-7 {
    margin-top: 7vh;
    margin-bottom: 7vh;
}
.my-8 {
    margin-top: 8vh;
    margin-bottom: 8vh;
}
.my-9 {
    margin-top: 9vh;
    margin-bottom: 9vh;
}
.my-10 {
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.my-11 {
    margin-top: 11vh;
    margin-bottom: 11vh;
}
.my-12 {
    margin-top: 12vh;
    margin-bottom: 12vh;
}
.my-13 {
    margin-top: 13vh;
    margin-bottom: 13vh;
}

.mt-6 {
    margin-top: 6vh;
}
.mt-7 {
    margin-top: 7vh;
}
.mt-8 {
    margin-top: 8vh;
}
.mt-9 {
    margin-top: 9vh;
}
.mt-10 {
    margin-top: 10vh;
}
.mt-11 {
    margin-top: 11vh;
}
.mt-12 {
    margin-top: 12vh;
}
.mt-13 {
    margin-top: 13vh;
}