<div class="container-fluid profile-padding hidden" id="profile-container">
    <div class="d-flex justify-content-center">
        <div class="img-background">
            <img src="" alt="profile-img" class="active-img" id="active-image">
            <p class="h1 active-name px-4 py-2" id="active-name"></p>
        </div>
    </div>
    <p class="h3 active-position text-center" id="active-position"></p>
    
</div>

<div class="container mt-12">
    <h2 class="meet-the-team-title">The Team</h2>
    <p class="mx-5 lead sub">Meet our exceptionaly <span class="text-light-salmon font-weight-normal">passionate</span> team of students</p>
</div>

<div class="container-fluid img-padding mt-10">
    <div class="row justify-content-center">
        <div *ngFor="let profile of profiles" class="mx-5 mt-5">
            <img (click)="displayProfile(profile)" src="assets/img/profiles/{{ profile.imgName }}" alt="{{ profile.name}}" class="profile-img">
            <p class="text-center lead name-caption mt-4">{{ profile.name }}</p>
            <p class="text-center lead position-caption">{{ profile.position}}</p>
        </div>
    </div>
</div>
