.title-highlight {
    color: var(--light-salmon);
    font-weight: bold;
}

.quotation {
    max-width: 8vw;
}

.quote1 {
    font-size: 8vw;
}

.quote2 {
    font-size: 4vw;
}

.potter-child {
    max-width: 85vw;
    max-height: 78vw;
}

.community-description {
    font-size: 3.5vw;
}

@media screen and (min-width: 992px) {
    .quote1 {
        font-size: 4vw !important;
    }

    .quotation {
        max-width: 4vw !important;
    }

    .quote2 {
        font-size: 3.5vw !important;
    }

    .community-description {
        font-size: 1.5vw;
    }
}

.artist-img {
    display: none;
}

@media screen and (min-width: 1400px) {
    .artist-img {
        display: inline;
    }
}

.title-motivation {
    color: var(--white);
    font-size: 4em;
}
  
.text-motivation {
    color: #ECECEC;
}

.text-motivation-highlight {
    color: var(--white);
    font-style: italic;
}