.title-highlight {
    color: var(--light-salmon);
    font-weight: bold;
}

.quote1 {
    font-size: 45px;
}

@media screen and (min-width: 762px) {
    .quote1 {
        font-size: 70px !important;
    }
}

@media screen and (min-width: 992px) {
    .quote1 {
        font-size: 40px !important;
    }
}

@media screen and (min-width: 1200px) {
    .quote1 {
        font-size: 50px !important;
    }
}

@media screen and (min-width: 1400px) {
    .quote1 {
        font-size: 60px !important;
    }
}

.quote2 {
    font-size: 3em;
}
  
.community-description {
    font-size: 20px;
}

.title-motivation {
    color: var(--white);
    font-size: 4em;
}
  
.text-motivation {
    color: #ECECEC;
}

.text-motivation-highlight {
    color: var(--white);
    font-style: italic;
}