<div class="container-fluid py-10 smooth-scroll">
    <div class="row">
        <div class="container col-md-2">
        <div class="container-fluid d-flex justify-content-end">
            <img src="assets/img/quotation.png" class="mt-7 img-fluid">
        </div>
        </div>
        <div class="container col-md-3">
        <div class="container-fluid mt-12">
            <h2 class="quote1">
            Be Persistent,<br>
            Be Prolific,<br>
            Be <span class="title-highlight">Passionate.</span>
            </h2>
        </div>
        <div class="container-fluid mt-13">
          <a href="#description-page" class="button-light-salmon px-5 py-3">Learn more</a>
        </div>
        </div>
        <div class="container col-md-7">
        <div class="container-fluid mt-3">
            <img src="assets/img/potter-child.png" class="img-fluid">
        </div>
        </div>
    </div>
</div>
  
<div class="container-fluid py-5" id="description-page">
    <div class="row">
      <div class="container col-md-3">
        <div class="container-fluid d-flex justify-content-end mt-10">
          <h3 class="quote2">
            Find your<br>
            <span class="font-italic">passion</span>
        </h3>
        </div>
        <div class="container-fluid d-flex justify-content-end my-2">
          <img src="assets/img/artist.png"  class="img-fluid">
        </div>
      </div>
  
      <div class="container col-md-4">
        <div class="container-fluid d-flex justify-content-center mt-20">
          <p class="lead community-description">
            At PassionFruit Youth, we aim to foster a
            community that not only supports one-another’s
            ambitions, but also collectively builds on each
            other’s successes, breaking boundaries and
            reaching new heights.
  
            Through various high-impact community events,
            volunteer/career insight oppurtunities, self-growth
            workshops, and more, PFY has its sights on being
            the premier hub for cultivating and prospering
            dreams for youth.
          </p>
        </div>
        <div class="container-fluid mt-13">
          <a routerLink="opportunities" class="button-light-salmon px-5 py-3 mr-5">Opportunities</a>
          <a routerLink="events" class="button-jasmine px-5 py-3 ml-5">Events</a>
        </div>
      </div>
  
      <div class="container col-md-4">
        <img src="assets/img/photographer.png" class="img-fluid">
      </div>
    </div>
</div>

<img src="assets/img/classroom-transition.png" class="img-fluid">

<div class="container-fluid background-light-salmon py-10">
    <div class="row">
      <div class="container d-flex col-md-6 justify-content-center">
        <img src="assets/img/hiker.png" class="img-fluid">
      </div>
      <div class="container col-md-6">
        <div class="mt-14">
          <h4 class="subtitle-pill px-5 py-2">Chase your dreams</h4>
        </div>
        <div class="mt-7">
          <h2 class="title-motivation">
            Make your<br>
            dreams a reality
          </h2>
        </div>
        <div class="mt-5">
            <p class="lead text-motivation">
              The infinity between zero and one is the<br>
              same infinity between one and infinity. It's<br>
              the same distance--so what makes the<br>
              second one so intimidating? If you can get<br>
              up from your couch to grab the remote, you<br>
              can get up from your couch to change the<br>
              world. <span class="text-motivation-highlight">That’s what we’re here for.</span>
            </p>
        </div>
      </div>
    </div>
  </div>
  