<div class="container-fluid background-seashell mt-12">
    <div class="row">
        <div class="col-sm-6 pl-10">
            <img src="../assets/img/logo-strip.png" class="img-fluid">
            <h1 class="display-5 community-description mt-3 mb-20">
                PassionFruit Youth is a completely
                student-driven organization that is 
                dedicated to connecting youth of today with 
                opportunities to pursue their "passions". 
                Hailing from all over the Greater Toronto 
                Area, these student-leaders work hard to 
                innovate & create new opportunities for 
                youth everywhere.
            </h1>
        </div>
    </div>
</div>
