.display-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}
	
.mb-22,
.my-22 {
    margin-bottom: 18rem !important;
}

.ml-5 {
    margin-left: 5rem !important;
}
.mr-5 {
    margin-right: 5rem !important;
}
.mr-20 {
    margin-right: 20rem !important;
}
.pl-10,
.px-10 {
    padding-left: 10rem !important;
}
.pr-10 {
    padding-right: 10rem !important;
}
.ml-0 {
    margin-left: 0rem !important;
}
.mr-0 {
    margin-right: 0rem !important;
}