<div class="background-gray container-fluid py-8">
    <div class="px-5">
        <h4 class="text-white">Contact Us</h4>
        <p class="text-white lead">
            contact@passionfruityouth.org<br>
            647-999-9999
        </p>

        <a class="mx-2">
            <img src="assets/img/twitter-logo.png" alt="twitter" class="img-fluid logo-img">
        </a>
        <a class="mx-2">
            <img src="assets/img/instagram-logo.png" alt="twitter" class="img-fluid logo-img">
        </a>
        <a class="mx-2">
            <img src="assets/img/linkedin-logo.png" alt="twitter" class="img-fluid logo-img">
        </a>        
    </div>
    
</div>