<div class="container-fluid">
  <div class="px-3">
    <div class="row mt-2">

      <div class="col-lg-6 col-xl-4">
        <div routerLink="business" class="selection-card mt-4 mx-4 mb-6" style="background-image: url('../../assets/img/business.png');">
          <div class="text-center py-14"><a class="selection-text business px-3">Business</a></div>
        </div>
      </div>

      <div class="col-lg-6 col-xl-4">
        <div routerLink="stem" class="selection-card mt-4 mx-4 mb-6" style="background-image: url('../../assets/img/stem.png');">
          <div class="text-center py-14"><a class="selection-text stem px-3">S.T.E.M.</a></div>
        </div>
      </div>

      <div class="col-lg-6 col-xl-4">
        <div routerLink="medical" class="selection-card mt-4 mx-4 mb-6" style="background-image: url('../../assets/img/medical.png');">
          <div class="text-center py-14"><a class="selection-text medical px-3">Health</a></div>
        </div>
      </div>

      <div class="col-lg-6 col-xl-4">
        <div routerLink="literature" class="selection-card mt-4 mx-4 mb-6" style="background-image: url('../../assets/img/literature.png');">
          <div class="text-center py-14"><a class="selection-text literature px-3">Literature</a></div>
        </div>
      </div>

      <div class="col-lg-6 col-xl-4">
        <div routerLink="art" class="selection-card mt-4 mx-4 mb-6" style="background-image: url('../../assets/img/art.png');">
          <div class="text-center py-14"><a class="selection-text art px-3">Art</a></div>
        </div>
      </div>

      <div class="col-lg-6 col-xl-4">
        <div routerLink="music" class="selection-card mt-4 mx-4 mb-6" style="background-image: url('../../assets/img/music.png');">
          <div class="text-center py-14"><a class="selection-text music px-3">Music</a></div>
        </div>
      </div>

    </div>
  </div>
</div>
