.selection-card {
  background-color: #FFF6EF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  cursor: pointer;
}

a.selection-text {
  border: none;
  color: #ffffff;
  font-size: 48px;
  box-shadow: inset 0 0 #FBD987;
  transition: ease-out 0.3s;
  outline: none;
}

a:hover.selection-text {
  color: #ffffff;
  text-decoration: none;
  box-shadow: inset 0 -7px #FBD987;
}