.selection-card {
  background-color: var(--seashell);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  cursor: pointer;
}

a.selection-text {
  border: none;
  color: var(--white);
  font-size: 48px;
  box-shadow: inset 0 0 var(--jasmine);
  transition: ease-out 0.3s;
  outline: none;
}

a:hover.selection-text {
  color: var(--white);
  text-decoration: none;
  box-shadow: inset 0 -7px var(--jasmine);
}